*{
    margin: 10;
    padding: 10;
}
.myButton {
    padding: 15px;
}
@media screen and (min-width:991px){
    .myButton:hover{
        background-color: #9FE2BF;
    }
}
.myButtonHover:hover {
    background-color: #9FE2BF;
}
